@model IEnumerable<MicrosoftGraphWebApp.Models.UserModel>
<br />
<div class="table">
    <table class="table table-bordered table-condensed table-striped table-hover sortable">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="10">No Record's found.</td>
            </tr>
        }
        else
        {
            <thead class="thead-dark">
                <tr>
                    <th>Photo</th>
                    <th>Display Name</th>
                    <th>Mail</th>
                    <th>Group memberships</th>
                    <th>OneDrive root file count</th>
                </tr>
            </thead>
            foreach (var item in Model)
            {
                <tr>
                    <td style="width: 160px;"><img style="width:150px; height:auto" src="data:image;base64, @item.PhotoBase64" /></td>
                    <td>@item.DisplayName</td>
                    <td>@item.Mail</td>
                    <td style="white-space: pre-line">@item.GetGroupListString()</td>
                    <td>@item.RootFilesCount</td>
                </tr>
            }
        }
    </table>
</div>
